/**
 * Config
 */
:root {

  --modal-width: 350px;

}

:host {
  @apply(--typography);
  text-align: center;
}

.login__form__input {
  display: inline-block;
  text-align: center;
  width: 85%;
  font-size: 18px;
  margin: 16px auto;
  padding: 8px 0;
  border-radius: var(--border-radius);
  overflow: auto;
}

.login__form__input:first-child {
  margin-top: 0;
}

.login__form__input:focus {
  border-bottom-color: var(--blue);
  width: 85%;
}

.login__form__submit {
  dispaly: inline-block;
  background: var(--blue);
  font-weight: 600;
  color: white;
  border-radius: var(--border-radius);
  padding: 0 35px;
  margin: 21px auto 0;
  transition: color 80ms ease;
}

.login__form__submit[busy] {
  color: var(--med-white);
}

.login__form__submit--target {
  display: none;
}

.login__error {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  max-width: 220px;
  font-size: 15px;
  color: var(--red);
  opacity: 0;
  height: 0;
  overflow: visible;
  display: none;
}

.login__error[visible]{
  display: flex;
}
