/**
 * Config
 */
:root {

  --modal-width: 350px;

}

:host {
  @apply(--typography);
  text-align: center;
}

.login__title {
  font-size: 42px;
  color: var(--blue);
  font-weight: 900;
  margin-bottom: 18px;
}

.login__form__input {
  display: inline-block;
  text-align: center;
  width: 170px;
  font-size: 18px;
  margin: 19px auto;
  padding: 12px 0;
  border-bottom: 2px solid var(--light-black);
  transition: width 70ms ease-in-cubic;
  overflow: auto;
}

.login__form__input:focus {
  border-bottom-color: var(--blue);
  width: 85%;
}

.login__form__submit {
  dispaly: inline-block;
  background: var(--blue);
  color: white;
  font-weight: 700;
  border-radius: 999px;
  padding: 0 35px;
  margin: 21px auto 0;
  transition: color 80ms ease;
}

.login__form__submit[busy] {
  color: var(--med-white);
}

.login__error {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  max-width: 220px;
  font-size: 15px;
  color: var(--red);
  opacity: 0;
  height: 0;
  overflow: visible;
  display: none;
}

.login__error[visible]{
  display: flex;
}
